@import url(general.css);
@import url(menu.css);
@import url(layout.css);

main {
  width: 100%;
  margin: -10px 0 0 0;
  padding: 0;
}

/* Colors */
h3 {
  color: #FFE999;
}

/* Logo adjust */
.about {
  padding-top: 20px;
}

@media (min-width: 800px) {
  .about .dark_light {
    margin-top: 10px;
  }
}


/*
  Texts
*/

.about_text {
  width: 76%;
  margin: auto;
  padding: 10px 0;
}

@media (min-width: 800px) {
  .about_text {
    width: 60%;
    padding: 20px 0;
  }
}

@media (min-width: 1286px) {
  .about_text {
    width: 50%;
    padding: 20px 0;
  }
}


/*
  About sections
*/

.about_sections {
  display: flex;
  flex-direction: column;
}


/* Lists */
.data_lists {
  width: 90%;
}

.list {
  display: flex;
  flex-direction: row;
  width: 76%;
  margin: auto;
}

.list_name {
  font-weight: bold;
  margin-right: 10px;
  padding-top: 15px;
}

/* Media querries for lists */
@media (max-width: 465px) {
  .list {
    flex-direction: column;
    width: 90%;
  }

  .list_name {
    margin-bottom: -10px;
    margin-right: 0;
  }
}

@media (min-width: 800px) {
  .data_lists {
    width: 80%;
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .about_sections {
    display: flex;
    flex-direction: row;
  }

  .list {
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 5%;
  }
  
  .list_name {
    font-weight: bold;
    margin-right: 10px;
  }
}


/* Skills */
.skills_background {
  width: 70%;
  margin: 30px auto;
}

.about_skills {
  width: 76%;
  margin: auto;
}

.skills_name {
  width: 100%;
  text-align: center;
  background-color: #222222c5;
}

#javascript_background {
  background-color: #FFDE68;
}

#html_background {
  background-color: #FF6E1D;
}

#css_background {
  background-color: #0DB6FF;
}

#game_background {
  background-color: #0047FF;
}

#art_background {
  background-color: #BD30FF;
}

/* Media querries for skills */
@media (min-width: 1200px) {
  .about_skills {
    float: right;
    width: 40%;
    margin-left: 0;
  }

  .skills_background {
    width: 70%;
    margin: 30px 50% 30px auto;
  }
}


/*
  CV button
*/
.cv_button {
  justify-content: center;
}

.button_text {
  width: 150px;
  margin: 30px auto 80px auto;
  text-align: center;
  font-weight: bold;
  color: #000000;
  background-color: #FFE380;
  padding: 5px;
  border-radius: 30px;
}

/* Media querries for cv button */
@media (min-width: 800px) {
  .button_text {
    margin: 30px auto 80px 15%;
  }
}

@media (min-width: 1200px) {
  .button_text {
    margin: 30px auto 80px 5%;
  }
}