
/*
  Body
*/
body {
  position: relative;
  display: flex;
  flex-direction: row;
}

/* Dark */
body {
  background-color: #141212;
}

/* Light */
/*
body {
  background-color: #F0F0F0;
}
*/

/*
  Main 
*/


/*
  Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Inter:wght@400;600&family=Raleway:wght@400;600&display=swap');

/* Inter */
/* font-family: 'Inter', sans-serif; */

/* Raleway */
/* font-family: 'Raleway', sans-serif; */

/* Goldman */
/* font-family: 'Goldman', cursive; */


/*
  Font styles
*/

h1, h2, h3, p, a {
  font-family: 'Inter', sans-serif;
}

p, li {
  line-height: 1.6em;
}

p, li {
  color: #ffffff;
  font-family: "inter", sans-serif;
}

a {
  text-decoration: none;
}


/*
  Scrollbar
*/
::-webkit-scrollbar-track {
  background: transparent;
}