@import url(general.css);
@import url(menu.css);
@import url(layout.css);

/* Colors */
p, li {
  color: #ffffff;
  font-family: "inter", sans-serif;
}

main {
  width: 100%;
  margin: -10px 0 0 0;
  padding: 0;
}

.projects_text {
  padding-top: 10px;
  padding-right: 10px;
  width: 100%;
  background: linear-gradient(#8E0D5A, #141212);
}


/*
  Dark and light button
*/
.dark_light {
  position: absolute;
  justify-content: center;
  vertical-align: middle;
  top: 30px;
  right: 30px;
  float: right;
  width: 60px;
  height: 60px;
  border-radius: 300px;
  background-color: #F0F0F0;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.fa-sun {
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 46px;
  color: #FF6E1D;
}


/* Title */
.projects_title {
  font-weight: 600;
  margin: 140px auto 10px auto;
  width: 76%;
}


/* Title lines */
.title_line1 {
  width: 80px;
  margin-bottom: 5px;
  margin-left: 12%;
}

.title_line1::after {
  content: " ";
  display: block;
  border-bottom: 4px solid #FFE999;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.title_line2 {
  width: 50px;
  margin-bottom: 40px;
  margin-left: 12%;
}

.title_line2::after {
  content: " ";
  display: block;
  border-bottom: 3px solid #FFDE68;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}


/*
  texts beneath title
*/
.text {
  width: 76%;
  margin: 10px auto;
  line-height: 1.6em;
}

#second_text {
  margin: 40px auto 100px auto;
}


/* Media querries for background and text */
@media (min-width: 800px) {
  main {
    margin: 0;
    padding: 0;
  }
  
  .projects_text {
    padding-right: 0;
  }

  .projects_title {
    font-weight: 600;
    margin: 40px auto 10px auto;
    width: 90%;
  }

  .title_line1 {
    margin-left: 5%;
  }

  .title_line2 {
    margin-left: 5%;
  }

  .text {
    width: 40%;
  }
}


.top_line {
  width: 50%;
  margin: 10px auto 60px auto;
}

.top_line::after {
  content: " ";
  display: block;
  border-bottom: 3px solid #454545;
  border-radius: 30px;
}


/*
  Projects
*/
.projects_list {
  padding-top: 20px;
  width: 100%;
}

.project {
  width: 40%;
  margin: auto;
}

.fa-droplet {
  margin: auto;
  justify-content: center;
}