@import url(general.css);
@import url(menu.css);
@import url(layout.css);

main {
  width: 100%;
  margin: -10px 0 0 0;
  padding: 0;
}

/* Colors */
h2 {
  color: #ffffff;
}

/* Logo adjust */
.skillset_text {
  padding-top: 20px;
}


/*
  Text setup
*/

.skill_text {
  width: 76%;
  margin: auto;
  padding: 10px 0 50px 0;
}

@media (min-width: 800px) {
  .text_name {
    text-align: center;
  }

  .skill_text {
    width: 60%;
    padding: 30px 0 50px 0;
  }

  .skillset_text .dark_light {
    margin-top: 10px;
  }
}

@media (min-width: 1286px) {
  .skill_text {
    width: 40%;
  }
}


/*
  Skills section
*/

.skillset_skills {
  padding-top: 10px;
  width: 100%;
  background: linear-gradient(#E40F02, #FF6E1D);
}